body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image:  url("https://wallpapercave.com/wp/wp9190101.png");

  /* Set a specific height */
  height: 100%;
  margin: -1.6%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: right;
  position: absolute;
  top: 30%;
  left: 77%;
  transform: translate(-50%, -50%);
  color: rgb(248, 97, 27);
  font-family: 'Patrick Hand', cursive;
  font-size: 24px;
}