{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="comments">

    <h2>Post Comment</h2>

    <form class="comments__form">
      <div class="comments__form-info">

        <div class="comments__form-field">
          <input id="comments__form-label-name" name="author" placeholder="Name" type="text" class="comments__form-input">
          <label class="comments__form-label" for="comments__form-label-name">
            <span class="comments__form-label-text">Name</span>
          </label>
        </div>

        <div class="comments__form-field">
          <input id="comments__form-label-mail" name="author" placeholder="E-mail" type="text" class="comments__form-input">
          <label class="comments__form-label" for="comments__form-label-mail">
            <span class="comments__form-label-text">E-mail</span>
          </label>
        </div>

        <div class="comments__form-field">
          <input id="comments__form-label-site" name="author" placeholder="Website" type="text" class="comments__form-input">
          <label class="comments__form-label" for="comments__form-label-site">
            <span class="comments__form-label-text">Website</span>
          </label>
        </div>

      </div>

      <div class="comments__form-text">
        
        <div class="comments__form-field">
          <textarea id="comments__form-label-text" name="author" placeholder="Share Your Comment here:" type="text" class="comments__form-input comments__form-textarea"></textarea>
          <label class="comments__form-label" for="comments__form-label-text">
            <span class="comments__form-label-text">Share Your Comment here:</span>
          </label>
        </div>

      </div>
  <input name="submit" type="submit" id="submit" class="comments__form-submit" value="Post Comment">
    </form>
    
    <div class="comments__list">
      <!-- Comments --> 
    </div>
  </div>

  <style>
    body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      background: #111;
    }
    
    body {
      color: #666;
      font: 75% 'Open Sans', 'Helvetica Neue', 'Arial', 'sans-serif';
      line-height: 1.5;
    }
    
    h2 {
      color: #111;
      font: 900 1.75em 'Roboto', 'Open Sans', 'Helvetica Neue', 'Arial', 'sans-serif';
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
    
    h2::after {
      content: "";
      display: block;
      width: 10em;
      height: 0.25em;
      background: #111;
      margin-top: 0.5em;
    }
    
    .comments {
      position: relative;
      width: 100%;
      background: #EAE367;
      margin: auto;
      padding: 27px;
      box-sizing: border-box;
      top: 5em;
    }
    
    .comments::after {
      content: " ";
      display: table;
      clear: both;
    }
    
    .comments__form-info,
    .comments__form-text {
      width: 100%;
      margin: 0;
      }
    
    .comments__form-info { float: left; }
    .comments__form-text { float: right; }
    
    .comments__form-field {
      position: relative;
    }
    .comments__form-label {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      font: 700 1.125em 'Open Sans', 'Helvetica Neue', 'Arial', 'sans-serif';
      cursor: text;
      pointer-events: none;
    }
    
    .comments__form-label-text {
      display: block;
      transform: translateY(100%);
      opacity: 0;
      transition-duration: 0.5s;
      transition-property: transform, opacity;
    }
    .comments__form-input:focus::-webkit-input-placeholder {
       color: transparent;
     }
    .comments__form-input:focus + .comments__form-label .comments__form-label-text {
      transform: translateY(0);
      opacity: 1;
     }
    
    .comments__form-label::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      background: #111;
      bottom: 1em;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.5s;
    }
    
    .comments__form-input:focus + .comments__form-label::after {
      transform: scaleX(1);
    }
    
    .comments__form-input {
      position: relative;
      width: 100%;
      padding: 1em 0;
      border: 0;
      outline: 0;
      margin: 1em 0;
      border-bottom: 3px solid #ddd;
      vertical-align: bottom;
      font: 400 1.125em 'Open Sans', 'Helvetica Neue', 'Arial', 'sans-serif';
    }
    
    .comments__form-textarea {
      min-width: 100%;
      max-width: 100%;
      min-height: 168px;
    }
    
    .comments__form-submit {
      padding: 0.5em;
      margin: 1em 0;
      background: none;
      border: 3px solid #111;
      font: 700 1em 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      cursor: pointer;
      opacity: 0.25;
    }
    
    .comments__form-submit:hover {
      opacity: 1;
    }
    
    
    @media only screen and (min-width: 1020px) {
    
      .comments { width: 970px; padding: 52px; }
    
      .comments__form-info,
      .comments__form-text { width: 407px; }
    
    }
    </style>
  {% endblock %}